/* El asterisco marca que es global, cualquier cosa aqui descrita es para todos los elementos */
* {
    margin: 0%;
    
}



body {
    font-family: 'Roboto Slab', serif;
    background-color: #ffffff;
}

#jett {
    margin-bottom: 85px;
    background-color: #0F1923;
}
#reyna {
    margin-bottom: 85px;
    background-color: #170b2e;
}

.header-bar{
    background-color: #e63d4b;
    height: 100px;
    width: 100%;
}

/* Asi se estila un elemento en especifico en 1 clase */
.header-bar h1 {
    font-family:'VALORANT', sans-serif;
    text-align: center;
    padding-top: 10px;
    margin: 0%;
    color: rgb(2, 2, 2);
}
/* Esto es como se estila una clase en especifico. */
.header-nav-bar {
    font-size: 20px;
    text-align: center;
    margin: 10px;
    padding: 5px;
}

.header-nav-bar a {
    font-family: 'VALORANT', sans-serif;
    margin: 2%;
    color: rgb(5, 5, 5);
    text-decoration: none;
}

.header-nav-bar a:hover {
    transition:all 0s ease-in-out;
    color: rgb(255, 255, 255);
}

.agents-header {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    text-align: center;
    height: 200px;
}


.agents-content h1 {
    font-size: 100px;
    text-align: center;
    font-family: 'VALORANT', sans-serif;
}

.agents-content p {
    max-width: 1000px;
}

.agents-content {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    height: 100%;
    margin: 0px 0px 100px 20px;
}

.agents-content article {
    margin-top: 10px;
}


.table-container {
    display: flex;
    justify-content: center;
}

.table-contents {
    border: solid 2px black;
    max-width: 300px;
    margin: 30px;
}

.table-contents h1 {
  font-size: 30px;
  max-width: 300px;
}

.table-contents a {
    margin: 2%;
    color: rgb(5, 5, 5);
    text-decoration: none;
}
.table-contents a:hover {
    transition:all 0s ease-in-out;
    color: #e63d4b;
}


.card-agent {
    min-height: 800px;
    height: 850px;
    color: rgb(240, 240, 240);
}

.title-card {
    font-family: 'VALORANT', sans-serif;
    text-align: center;
    /* background-color: #FD4556; */
    font-size: 50px;
}

.content-agent {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(1,1fr);
    
}

.content-agent p {
    max-width: 600px;
}


.img-agent {
    height: 700px;
}

.mid-content-agent{
    display: flex;
    justify-content: center;
}

.mid-content-agent ul {
    padding-top: 25%;
}


.third-column-img {
    height: 100px;
    width:  100px;
}


.footer-card{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(1,1fr);
    height: 100px;
    margin-top: 80px;
}

.footer-card article {
    display: grid;
    grid-template-columns: repeat(1,1fr);
    margin: 10px;
    padding: 10px;
}

.footer-card li {
    width: 400px;
}

.footer {
    height: 200px;
    margin-top: 200px;
    background-color: black;
}